@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format(ttf),
        url('../fonts/Poppins/Poppins-Medium.woff') format(woff),
        url('../fonts/Poppins/Poppins-Medium.woff2') format(woff2);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format(ttf),
        url('../fonts/Poppins/Poppins-Regular.woff') format(woff),
        url('../fonts/Poppins/Poppins-Regular.woff2') format(woff2);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format(ttf),
        url('../fonts/Poppins/Poppins-SemiBold.woff') format(woff),
        url('../fonts/Poppins/Poppins-SemiBold.woff2') format(woff2);
    font-weight: 600;
    font-style: normal;
}
$main_font:'Poppins', sans-serif;
html {
	font: normal 10px/1.33 $main_font;
}
*{
    box-sizing: border-box;
}

body{
    //font-family: 'Poppins', Tahoma, sans-serif;    
    background: #fff;
    overflow-x: hidden;
    
}

.page_wrapper{
    .container{
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex; 
        -webkit-box-orient: horizontal; 
        -webkit-box-direction: reverse; 
        -ms-flex-direction: row-reverse; 
        flex-direction: row-reverse; 
        
    }
    
}
.container{
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
}
.aside{
    max-width: 306px;
    height: 1198px;
    width: 100%;
    background: #FFF;
    -webkit-box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 37px 28px 76px;
    
}
.logo{    
    display: inline;    
    margin-bottom: 53px;
    .logo_link{
        position: relative;
        .versoin{
            position: absolute;
            top: -3px;
            color: #838383;
            font-size: 10px;
            font-weight: 500;
            letter-spacing: -0.1px;
        }
    }
    svg{
        display: inline;
    }
} 



.menu_list{
    margin-top: 53px;

    .menu_item{
        &:hover{
            border-radius: 8px;
            background: #5932EA;
            color: #fff;
        }
        
        
        .menu_link{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 11px 0 11px 11px;
            
            position: relative;
            &:hover .chevron svg{
                stroke: #fff;
            }
            &:hover .item_icon svg{
                --p1: #fff;
            }
            .item_icon{
                max-height: 24px;
                
            }
           
            .menu_item__name{
                margin-left: 14px;
                color: #9197B3;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: -0.14px;
                display: flex;
                align-items: center;
            }
            .chevron{
                stroke: #9197B3;  
                position: absolute;
                top: 14px;
                right: 8px;
            }
           
        }
    }
}





.user_card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .img_wrapper{
        max-width: 42px;
        width: 100%;
        max-height: 42px;
        height: 100%;
        overflow: hidden;
        margin-right: 12px;
        .photo{
        //display: inline-block;        
        
        //margin-bottom: 76px;
        }
    }
    
    .user_card__content{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        .user_name{
            color: #000;
            font-size: 14px;            
            font-weight: 500;            
            letter-spacing: 0.14px;
        }
        .user_job{
            color: #757575;
            font-size: 12px;
            letter-spacing: 0.12px;
        }
    }
}



//section
.main_section{
    width: 100%;
    max-width: 1134px;
    background: #FAFBFF;
    padding: 41px 95px 0 71px;
    
    
}
.main_header{
    margin-bottom: 51px;
    color: #000;
    font-size: 24px;
    font-weight: 500;
}
.main_content{
    border-radius: 8px;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 40px;
    max-width: 968px;
    width: 100%;
}
.main_conent__header{    
    border: 1px solid #fff;    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .heading_wrapper{
        margin-left: 38px;
        color: #000;
        margin-bottom: 40px;        
        .heading{
            color: #000;
            font-size: 22px;
            font-weight: 600;
            letter-spacing: -0.22px;
        }
        .subheading{
            color: #16C098;
            font-size: 14px;
            letter-spacing: -0.14px;
        }
    }
    .form_search{
        margin-right: 53px;
        margin-top: 14px;
        padding: 7px 7px 7px 8px;       
        max-height: 38px;
        border-radius: 10px;
        background: #F9FBFF;
        display: flex;
        .search_button{
            
        }
        .search{
            vertical-align: super;
            margin-left: 8px;
            &::placeholder{
                color: #B5B7C0;
                font-size: 12px;
                letter-spacing: -0.12px;
                text-transform: capitalize;
            }
            
        }
    }
}
.table{
    width: 100%;
    &::before{
        content: '';
        height: 1px;
        width: 100%;
        background-color: #eee;
        display: block;
    }
}
.column_name{
    margin-left: 40px;
    margin-right: 38px;
    display: -ms-grid;
    display: grid;    
    grid-template-columns: 1.16fr 0.89fr 1.06fr 1.4fr 0.95fr 0.54fr;
    //grid-template-columns: 172px 131px 156px 207px 140px 80px;
    
    .column_name__item{
        color: #B5B7C0;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.14px;
        margin-bottom: 14px;
        cursor: pointer;
        display: flex;
        justify-content: start;
       
        
        &:last-child{
            justify-content: center;
        }
    }
}

.line{
    height: 1px;
    background: #EEE;
}

.row_list{
    margin-left: 40px;
    margin-right: 38px;
    display: grid;
    display: -ms-grid;
    //grid-template-columns: 172px 131px 156px 207px 140px 80px;
    grid-template-columns: 1.16fr 0.89fr 1.06fr 1.4fr 0.95fr 0.54fr;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: solid 1px #EEE;
    
    
}
.row_list__item{
    color: #292D32;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
   
}
.green{
    border-radius: 4px;
    border: 1px solid #00B087;
    background: rgba(22, 192, 152, 0.38);
    text-align: center;
    max-width: 80px;

    color: #008767;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
}
.inactive{
    border-radius: 4px;
    border: 1px solid #DF0404;    
    background: #FFC5C5;
    text-align: center;
    max-width: 80px;

    color: #DF0404;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
}



//pagination
.pagination_wrapper{
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.pagination{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    margin-right: 38px;
    .pagination__item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 4px;
        border: 1px solid #EEE;
        background: #F5F5F5;
        width: 25px;
        height: 25px;
        &:hover{
            color: #fff;
            background-color: #5932EA;
            cursor: pointer;
        }
        &:hover:not(:nth-child(6)) a{
            color: #fff;
        }
        a{
            color: #404B52;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: -0.12px;
            text-align: center;
        }
        
        
        &:nth-child(6){
            border: none;
            background: none;
            align-items: flex-end;
        }
    }
}


.hint{
    color: #B5B7C0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
    margin-left: 38px;
}



//resposive

@media screen and (max-width: 1440px){
    .main_section{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}
@media screen and (max-width: 1280px){
    
    .column_name .column_name__item{
        font-size: 12px;
    }
    .row_list__item{
        font-size: 12px;
    }
}
@media screen and (max-width: 1180px){
    .aside{
        max-width: 260px;
    }
    .column_name .column_name__item{
        font-size: 11px;
    }
    .row_list__item{
        font-size: 11px;
    }
}
@media screen and (max-width: 1100px){
    
    .column_name .column_name__item{
        font-size: 10px;
    }
    .row_list__item{
        font-size: 10px;
    }
    .row_list{
        grid-template-columns: 1.16fr 0.80fr 1.06fr 1.49fr 0.95fr 0.54fr;
    }
    .column_name{
        grid-template-columns: 1.16fr 0.80fr 1.06fr 1.49fr 0.95fr 0.54fr;
    }
}
@media screen and (max-width: 968px){
    .aside{
        //display: none;
        position: fixed;   
        top: 0px;
        left: 0;   
        //max-width: 75%;  
        -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        transform: translateX(-200%);
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        z-index: 10;
        visibility: hidden;
        height: 100vh;
    }
    .logo .logo_link .versoin {
        display: none;
    }
    
    .page_wrapper .container{
        display: initial;
    }
    .container{
        width: 95%;
        max-width: 968px;
        margin: 0 auto;
    }
    .main_section{
        margin: 0 auto;
        position: relative;
    }
    .main_header{
        display: inline-block;
        margin-right: 60px;
    }
    .page_wrapper.menu_open::after{
        display: block;
        position: fixed;
        content: '';
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #4d4c4c;
        opacity: .5;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    .burger{
        z-index: 100;
        position: fixed;
        width: 30px;
        height: 30px;
        right: 30px;
    }
    .menu_line{
        position: relative;
        content: '';
        width: 30px;
        height: 2px;
        display: block;
        background-color: #000;
    }
    .menu_line::before{
        position: absolute;
        content: '';
        width: 30px;
        height: 2px;
        display: block;
        background-color: #000;
        top: -7px;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease; 
    }
    .menu_line::after{
        position: absolute;
        content: '';
        width: 30px;
        height: 2px;
        display: block;
        background-color: #000;
        top: 7px;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease; 
    }
    .active{
        -webkit-transform: initial;
        -ms-transform: initial;
        transform: initial;
        overflow: hidden;
        visibility: initial;
       
    }
    .df{
        display: flex;
        display: -webkit-box;
        
    }
    .burger.active .menu_line{
        background-color: transparent;
    }
    .burger.active .menu_line::before{
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 2px;
    }
    .burger.active .menu_line::after{
        -webkit-transform: rotate(45deg);  
        -ms-transform: rotate(45deg);  
        transform: rotate(45deg);
        top: 2px;
    }
    .pagination{
        margin-right: initial;
    }
}
@media screen and (max-width: 670px) {
    .column_name{
        margin-right: 15px;
        margin-left: 15px; 
    }
    .main_section {
        padding-left: 5px;
        padding-right: 5px;
    }
    .row_list{
        margin-right: 15px;
        margin-left: 15px;
    }
    .column_name .column_name__item{
        font-size: 7px;
    }
    .row_list_item{
        font-size: 7px;
    }
}
@media screen and (max-width: 576px){
    
    .main_conent__header{
        .heading_wrapper{
            margin-left: 5px;
            margin-right: 10px;
                    
            .heading{
                color: #000;
                font-size: 14px;
                font-weight: 500;
            }
            .subheading{
                color: #16C098;
                font-size: 7px;
            }
        }
        .form_search{
            margin-right: 5px;
            margin-top: initial;
            max-width: 200px;
            width: 100%;
            
            .search{
                vertical-align: super;
                margin-left: 3px;
                max-width: 150px;
                width: 100%;
                &::placeholder{
                    color: #B5B7C0;
                    font-size: 14px;
                    
                }
                
            }
        }
    }
    .column_name .column_name__item{
        font-size: 7px;
    }
    .row_list_item{
        font-size: 7px;
    }
    .column_name{
        margin-left: 5px;
        margin-right: 5px;
        
        .column_name__item{
            
            font-size: 7px;
            font-weight: 400;
           
        }
    }
    .row_list{
        margin-left: 5px;
        margin-right: 5px;       
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .row_list__item{
        
        font-size: 7px;
        font-weight: 400;
        
    }
    .hint{
        color: #B5B7C0;
        font-size: 7px;
        font-weight: 400;        
        margin: 0 auto;
        margin-top: 30px;
    }
    .pagination_wrapper{
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .pagination{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 12px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        .pagination__item{
            &:hover{
                color: #fff;
                background-color: #5932EA;
                cursor: pointer;
            }
            &:hover:not(:nth-child(6)) a{
                color: #fff;
            }
            a{
                color: #404B52;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: -0.12px;
                text-align: center;
            }
            
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            border-radius: 4px;
            border: 1px solid #EEE;
            background: #F5F5F5;
            width: 25px;
            height: 25px;
            &:nth-child(6){
                border: none;
                background: none;
                align-items: flex-end;
            }
        }
    }
    .aside{
        max-width: 75%;
        min-width: 270px 
    }
    
}
@media screen and (max-width: 390px){
    .main_section {
        padding-left: 2px;
        padding-right: 2px;
    }
    .column_name{
        margin-left: 2px;
        margin-right: 2px;   
    }
    .row_list{
        margin-left: 2px;
        margin-right: 2px;
        
    }
    .column_name .column_name__item{
        font-size: 6px;
    }
    .row_list__item{
        font-size: 6px;
    }
}